.container {

}


.carousel {

}
.Home-row {
    justify-content: center;
    text-align:center;
    margin-left: 1.5rem;
}

.Home-event-h1 {
    text-align: center;
}
.Home-name {
      margin-left:1rem;
}

.Home-bg-img {
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('../../public/images/image2.png'); /*S+ GOD TIER CODE!*/
   background-size:cover;
    
}
.Home-white-text {
    color:ghostwhite;
}